h3 {
    padding-left: 40px;
    padding-top: 20px;
}

form {
    padding: 40px;
}

.btn{
    margin-top: 20px;
    background-color: aliceblue;
    color: black;
    border: none;
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
