.logo {
    height: 8em;
    width: auto;
    padding-bottom: 2.5rem;
    margin-left: 50px;
}

.footer {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(27, 27, 27);

}

.contactTitle {
    color: aliceblue;
    font-family: 'impact';
    font-weight: 700;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 15px;
}